@import "tailwindcss";
@plugin "tailwind-scrollbar";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-primary: rgba(20, 45, 82);
  --color-secondary: rgba(137, 194, 270);
  --color-gray0: rgba(29, 29, 27);
  --color-gray1: rgba(23, 23, 23);
  --color-gray2: rgba(88, 89, 91);
  --color-gray3: rgba(130, 130, 130);
  --color-gray4: rgba(224, 224, 224);
  --color-gray5: rgba(242, 242, 242);
  --color-gray6: rgba(225, 225, 225);
  --color-yellow: rgba(236, 221, 19);
  --color-green: rgba(46, 173, 97);
  --color-red: rgba(236, 37, 19);
  --color-white: rgba(255, 255, 255);
  --color-orange: rgba(253, 133, 58);
  --color-blue: rgba(0, 149, 197);
  --color-darkWhite: rgba(255, 255, 255);
  --color-darkBlack: rgba(0, 0, 0);
}
.dark {
  --color-primary: rgba(20, 45, 82);
  --color-secondary: rgba(137, 194, 270);
  --color-gray0: rgba(23, 23, 23);
  --color-gray1: rgba(255, 255, 255);
  --color-gray2: rgba(88, 89, 91);
  --color-gray3: rgba(130, 130, 130);
  --color-gray4: rgba(88, 89, 91);
  --color-gray5: rgba(23, 23, 23);
  --color-gray6: rgba(38, 38, 38);
  --color-yellow: rgba(236, 221, 19);
  --color-green: rgba(46, 173, 97);
  --color-red: rgba(236, 37, 19);
  --color-white: rgba(10, 10, 10);
  --color-orange: rgba(253, 133, 58);
  --color-blue: rgba(0, 149, 197);
  --color-darkWhite: rgba(255, 255, 255);
  --color-darkBlack: rgba(0, 0, 0);
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-gray0: var(--color-gray0);
  --color-gray1: var(--color-gray1);
  --color-gray2: var(--color-gray2);
  --color-gray3: var(--color-gray3);
  --color-gray4: var(--color-gray4);
  --color-gray5: var(--color-gray5);
  --color-gray6: var(--color-gray6);
  --color-yellow: var(--color-yellow);
  --color-green: var(--color-green);
  --color-red: var(--color-red);
  --color-white: var(--color-white);
  --color-orange: var(--color-orange);
  --color-blue: var(--color-blue);
  --color-darkWhite: var(--color-darkWhite);
  --color-darkBlack: var(--color-darkBlack);
}

@theme {
  --radius: 0.5rem;
}
